
@import "./style.css";

.editor-styles-wrapper {

	& .wp-block-carkeek-blocks-fixed-image img {
		position: absolute;
		height: 100%;
	}
}

.block-editor-block-toolbar__slot {
	align-items: center;
}
