
.ck-columns {

	& .ck-columns__item {
		margin-bottom: var(--ck-column-gap-vert);
	}
}


@media (--tablet) {

	.ck-columns {

		& .ck-columns__wrap {
			display: flex;
			flex-wrap: wrap;
		}

		&.has-2-columns,
		&.has-3-columns,
		&.has-4-columns {

			& .ck-columns__item {
				margin-right: var(--ck-column-gap);
				width: calc(( 100% - var(--ck-column-gap) ) / 2);

				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}

		&.has-5-columns,
		&.has-6-columns {

			& .ck-columns__item {
				margin-right: var(--ck-column-gap);
				width: calc((100% - 2 * var(--ck-column-gap)) / 3);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}

@media (--tablet-wide-up) {

	.ck-columns {

		& .ck-columns__wrap {
			display: flex;
			flex-wrap: wrap;

			& > * {
				margin-right: var(--ck-column-gap);
			}
		}

		&.ck-columns-stretch {

			& .ck-columns__wrap {

				& > * {
					flex: 1 1 0;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&.has-2-columns {

			& .ck-columns__wrap > * {
				width: calc(( 100% - var(--ck-column-gap) ) / 2);

				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}

		&.has-3-columns {

			& .ck-columns__wrap > * {
				width: calc((100% - 2 * var(--ck-column-gap)) / 3);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}

		&.has-4-columns {

			& .ck-columns__wrap > * {
				width: calc((100% - 3 * var(--ck-column-gap) ) / 4);

				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
		}

		&.has-5-columns {

			& .ck-columns__wrap > * {
				width: calc((100% - 4 * var(--ck-column-gap) ) / 5);

				&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}

		&.has-6-columns {

			& .ck-columns__wrap > * {
				width: calc((100% - 5 * var(--ck-column-gap) ) / 6);

				&:nth-child(6n+6) {
					margin-right: 0;
				}
			}
		}
	}
}
