
.ck-columns {

	& .ck-columns__item {
		margin-bottom: var(--ck-column-gap-vert);
	}
}


@media (--tablet-up) {

	.ck-columns {

		& .ck-columns__wrap {
			display: flex;

			& > * {
				flex: 0 1 auto;
				margin-right: var(--ck-column-gap);
			}
		}

		&.ck-columns-align-stretch {

			& .ck-columns__wrap {

				& > * {
					flex-grow: 1;
				}
			}
		}

		&.ck-columns-align-right {

			& .ck-columns__wrap {
				justify-content: flex-end;
			}
		}

		&.ck-columns-align-center {

			& .ck-columns__wrap {
				justify-content: center;
			}
		}

		&.ck-columns-wrap-true {

			& .ck-columns__wrap {
				flex-wrap: wrap;

				& > * {

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}


		&.has-2-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc(( 100% - var(--ck-column-gap) ) / 2);

				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}

		&.has-3-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 2 * var(--ck-column-gap)) / 3);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}

		&.has-4-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 3 * var(--ck-column-gap) ) / 4);

				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
		}

		&.has-5-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 4 * var(--ck-column-gap) ) / 5);

				&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}

		&.has-6-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 5 * var(--ck-column-gap) ) / 6);

				&:nth-child(6n+6) {
					margin-right: 0;
				}
			}
		}

		&.direction-vertical {

			&.ck-columns-align-center {

				& .ck-modal-item {
					text-align: center;
				}
			}

			& .ck-columns__wrap {
				column-width: auto;
				column-gap: var(--ck-column-gap);
				display: block;
			}

			&.has-1-columns {

				& .ck-columns__wrap {
					column-count: 1;
				}
			}

			&.has-2-columns {

				& .ck-columns__wrap {
					column-count: 2;
				}
			}

			&.has-3-columns {

				& .ck-columns__wrap {
					column-count: 3;
				}
			}

			&.has-4-columns {

				& .ck-columns__wrap {
					column-count: 4;
				}
			}

			&.has-5-columns {

				& .ck-columns__wrap {
					column-count: 5;
				}
			}

			&.has-6-columns {

				& .ck-columns__wrap {
					column-count: 5;
				}
			}
		}
	}
}

