:root {
	--ck-icon-font-family: "carkeek-blocks";
	--ck-icon-expand: "\e808";
	--ck-icon-collapse: "\e809";

	--color-appender-text: #44673a;
	--color-appender-hover: #44673a;
	--color-appender-hover-text: #fff;

	--ck-color-accordion-header-bg: #fff;
	--ck-color-accordion-header-text: var(--color-theme-primary);
	--ck-color-accordion-header-expanded-bg: var(--color-theme-primary);
	--ck-color-accordion-header-expanded-text: #fff;
	--ck-color-accordion-header-focus-bg: var(--color-link-active);
	--ck-color-accordion-header-focus-text: #fff;
	--ck-accordion-panel-bg: #ededed;
	--ck-accordion-panel-spacing: 10px;
	--ck-accordion-borders: 1px solid #ccc;
	--ck-accordion-header-padding: 1rem;
	--ck-accordion-expand: "\F138";


	--ck-link-color: var(--color-link);

	--ck-column-gap: 2rem;
	--ck-column-gap-vert: 2rem;
	--ck-archive-image-text-gap: 1rem;
	--ck-archive-image-ratio: 66%;

	--ck-modal-image-ratio: 100%;
	--ck-fixed-image-ratio: 66%;

}
