.editor-styles-wrapper {

	& .is-selected {

		& .ck-blocks-gallery-hidden {
			display: block;
		}
	}

	& .ck-blocks-gallery-grid-item {
		margin-bottom: var(--ck-gallery-gutter);

		&.ck-blocks-gallery-hidden {

			& img {
				opacity: 0.7;
			}
		}
	}

	& .ck-blocks-gallery-grid {
		list-style: none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		& .block-editor-rich-text__editable {
			font-size: 13px;
			font-family: sans-serif;
		}

		& figcaption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
		}

	}
}
