:root {
	--ck-featured-image-ratio: 3 /4;
	--ck-featured-image-ratio-portrait: 125%;
}

.wp-block-carkeek-blocks-featured-image:not(.is-style-no-crop) {
	position: relative;
	display: block;
	overflow: hidden;

	& img {
		aspect-ratio: var(--ck-featured-image-ratio);
		object-fit: cover;
		object-position: 50% 50%;
	}

	&.is-style-square {
		& img {
		aspect-ratio: 1;
		}
	}

	&.is-style-portrait {
		& img {
		aspect-ratio:  var(--ck-featured-image-ratio-portrait);
		}
	}
}
