.wp-block-carkeek-blocks-extended-gallery {

	& .ck-blocks-gallery-hidden {
		display: none;
	}

	& .blocks-gallery-item {

		& > figure {
			display: flex;
			flex-direction: column;
			position: relative;
		}

		& .ck-gallery-custom-link {
			border: 1px solid #ccc;
		}
	}

	& .is-selected {

		& .ck-blocks-gallery-hidden {
			display: flex;
		}
	}

	& .blocks-gallery-grid {
		--gallery-image-ratio: 74%;

		gap: var(--ck-gallery-gutter);

		&:not(.has-nested-images) .blocks-gallery-item {
			margin-right: 0 !important;
		}

		&.ck-column-gap-0 {
			gap: var(--ck-gallery-gutter-none);
		}
		&.ck-column-gap-1 {
			gap: var(--ck-gallery-gutter-xsmall);
		}
		&.ck-column-gap-2 {
			gap: var(--ck-gallery-gutter-small);
		}
		&.ck-column-gap-4 {
			gap: var(--ck-gallery-gutter-large);
		}
		&.ck-column-gap-5 {
			gap: var(--ck-gallery-gutter-xlarge);
		}

		&.fixed-images {

			& li.blocks-gallery-item a,
			& li.blocks-gallery-item:not(.has-link) figure {
				position: relative;
				display: block;
				height: 100%;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: var(--gallery-image-ratio);
				}

				& img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}

		&.fixed-images-square {
			--gallery-image-ratio: 100%;
		}

		&.fixed-images-portrait {
			--gallery-image-ratio: 150%;
		}

	}


}

.block-library-gallery-item__inline-menu.carkeek-edit {

	& .components-button.is-primary {
		background-color: #fff;
		color: #000;

		&.is-active {
			color: #fff;
			background-color: #007cba;
		}
	}
}

@media (min-width: 600px) {

	.wp-block-carkeek-blocks-extended-gallery {

		& .blocks-gallery-item {

			& .block-editor-url-input input[type="text"] {
				width: 80%;
				border: 1px solid #ccc;
			}
		}
	}
}
