@import "./style.css";

.components-select-control__input[multiple] {
	height: auto !important;
}

.components-panel .ck-error {
	margin-bottom: 16px;
	color: rgb(211, 53, 53);
}

.components-select-control select[multiple] + .components-input-control__suffix {

	& svg {
		display: none;
	}
}

.editor-styles-wrapper {

	& .wp-block-carkeek-blocks-custom-archive {
		border: 2px solid #ebebeb;
		padding: 1rem;

		& .wp-block-carkeek-blocks-custom-archive__list {
			opacity: 0.8;
		}

		& .wp-block-carkeek-blocks-custom-archive__title {
			font-weight: 700;
		}

		& > div {
			background-color: #e9e9eb;
		}

		& .ck-modal-item .ck-modal-item-dialog {
			display: none;
		}
	}

	@media screen and (min-width: 600px) {

		.wp-block-carkeek-blocks-custom-archive {

			&.is-link-tile {

				& .wp-block-carkeek-blocks-custom-archive__list {
					display: flex;
					flex-wrap: nowrap;

					& > * {
						flex: 1 1 33.3333%;
						display: flex;
						flex-direction: column;
						padding-right: 0.5rem;
						padding-left: 0.5rem;
					}
				}
			}

			&.is-list {

				& .wp-block-carkeek-blocks-custom-archive__list {

					> div {
						display: flex;
						flex-wrap: nowrap;

						&:nth-of-type(even) {
							flex-direction: row-reverse;
						}
					}
				}

				& .wp-block-carkeek-blocks-custom-archive__featured-image {
					flex-basis: 50%;
				}

				& .wp-block-carkeek-blocks-custom-archive__content {
					flex-basis: 50%;
					padding: 2rem;
				}
			}

			& .block-editor-rich-text__editable {
				text-align: center;
			}
		}
	}
}
