.wp-block-carkeek-blocks-extended-gallery {
	--slick-arrow-color: #ccc;
	--slick-arrow-pos-mobile: -24px;
	--slick-arrow-pos: -30px;
	--slide-gutter: 1rem;

	& .ck-blocks-gallery-grid-item {
		list-style: none;
	}

	& .blocks-gallery-grid {

		&.fixed-images {

			& li.blocks-gallery-item a,
			& li.blocks-gallery-item:not(.has-link) figure {
				position: relative;
				display: block;
				height: 100%;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: var(--gallery-image-ratio);
				}

				& img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}

	}

	& ul.slick-slider {
		list-style: none;
		margin: 0;
		padding: 0 1rem;

		& figcaption {
			color: #ccc;
			text-align: center;
		}

		& .slide-carousel {
			height: 100%;
		}

		& .ck-blocks-gallery-grid-item {
			height: 100%;
			padding: 0 var(--slide-gutter);

			& figure {
				height: 100%;
				display: flex;
				flex-direction: column;
			}
		}

		&.image-align-center {

			& figure {
				justify-content: center;
			}

		}
	}


}

