.block-editor-block-list__block {

	& .ck-accordion-button {
		background-color: var(--ck-color-accordion-header-bg);
		border: var(--ck-accordion-borders);
		padding: var(--ck-accordion-header-padding);
		text-align: left;
		color: var(--ck-color-accordion-header-text);
		width: 100%;
	}

	& .ck-accordion-panel {
		border: 1px solid #ccc;
		padding: 1rem;
	}

}
