.wp-block-carkeek-blocks-icon {

	& .wp-block-carkeek-blocks-icon__inner {

		& svg {
			fill: currentColor;
			height: 100%;
			width: 100%;
		}
	}

	&.is-style-circled {

		& .wp-block-carkeek-blocks-icon__inner {
			background-color: rgba(169, 221, 242, 0.3);
			color: #007daa;
			height: 44px;
			width: 44px;
			padding: 10px;
			border-radius: 100%;
		}
	}

	&.is-style-small {

		& .wp-block-carkeek-blocks-icon__inner {
			color: #0f854e;
			height: 35px;
			width: 40px;
			padding: 0 10px;
			border-left: 4px solid #a9ddf2;
		}
	}
}


@media screen and (min-width: 768px) {

	.wp-block-carkeek-blocks-icon {

		&.is-style-circled {

			& .wp-block-carkeek-blocks-icon__inner {
				height: 70px;
				width: 70px;
				padding: 15px;
				max-width: 400px;
				min-width: 32px;
			}
		}

		&.is-style-small {

			& .wp-block-carkeek-blocks-icon__inner {
				color: #0f854e;
				height: 70px;
				width: 70px;
				padding: 15px;
				border-left: 4px solid #a9ddf2;
			}
		}
	}
}
