@import "./style.css";

.carkeek-blocks-icon-types-list.block-editor-block-types-list {
	height: 150px;
	overflow-y: auto;

	& .block-editor-block-types-list__list-item {

		&.selected-svg {
			border: 1px solid #007daa;
		}

		& .components-button {
			align-items: center;
			box-shadow: none;
			color: #1e1e1e;
			display: flex;
			height: auto;
			justify-content: center;
			outline: 1px dotted transparent;
			padding: 0;
			width: 100%;

			&.is-primary {
				border: 1px solid #007daa;
			}

			& svg {
				fill: currentColor;
				height: 20px;
				margin: 0;
				overflow: hidden;
				padding: 0;
				width: 20px;
			}
		}

	}

}

.block-editor-block-preview__container .wp-block-carkeek-blocks-icon {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100px;

	&.is-style-small {

		& .wp-block-carkeek-blocks-icon__inner {
			height: 300px;
			width: 300px;
			padding: 70px;


		}
	}

	&.is-style-circled {

		& .wp-block-carkeek-blocks-icon__inner {
			height: 300px;
			width: 300px;
			padding: 70px;
		}
	}
}
