.editor-styles-wrapper {
    .wp-block-carkeek-blocks-link-tiles {
        .block-editor-inner-blocks {
            display: flex;
            width: 100%;
        }
        .block-editor-block-list__layout {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
        .block-editor-block-list__block {
            flex: 1 1 0;
        }
        .wp-block-carkeek-blocks-link-tile {
            display: flex;
            position: relative;
            width: 100%;
            flex: 1 1 0;
            flex-direction: column;
            padding: 1rem;
            h4 {
                color: #fff;
                text-align: center;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .wp-block-carkeek-blocks-link-tile__img {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .wp-block-carkeek-blocks-link-tile__bg {
        &.has-background-color {
            padding: 10px;
            color: #fff;
        }
    }
}
