body.admin-bar .fancybox-container {
	margin-top: 32px;
	height: calc(100% - 32px);
}

.fancybox-infobar {
	display: flex;
}

.fancybox-gallery-title {
	color: #fff;
	opacity: 1;
	margin-right: 10px;

}
