@import "./style.css";

.editor-styles-wrapper {

	& .is-selected {

		& .ck-blocks-gallery-hidden {
			display: block;
		}
	}

	& .ck-blocks-gallery-grid-item {
		margin-bottom: var(--ck-gallery-gutter);

		&.ck-blocks-gallery-hidden {

			& img {
				opacity: 0.7;
			}
		}
	}

	& .ck-blocks-gallery-grid {
		list-style: none;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		& .block-editor-rich-text__editable {
			font-size: 13px;
			font-family: sans-serif;
		}

		& figcaption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
		}

	}


	& button.ck-custom-button {
		border: 2px solid var(--color-appender-text);
		background-color: #ccc;
		color: var(--color-appender-text);
		padding: 5px 10px;
		cursor: pointer;
		height: auto;

		&:hover {
			background-color: var(--color-appender-hover);
			color: var(--color-appender-hover-text);
		}
	}
}
