
.ck-columns {
	&.ck-columns-col-gap-0 {
		--ck-column-gap: 0;
	}
	&.ck-columns-col-gap-1 {
		--ck-column-gap: var(--wp--preset--spacing--10);
	}
	&.ck-columns-col-gap-2 {
		--ck-column-gap: var(--wp--preset--spacing--20);
	}
	&.ck-columns-col-gap-3 {
		--ck-column-gap: var(--wp--preset--spacing--30);
	}
	&.ck-columns-col-gap-4 {
		--ck-column-gap: var(--wp--preset--spacing--40);
	}
	&.ck-columns-col-gap-5 {
		--ck-column-gap: var(--wp--preset--spacing--50);
	}
	&.ck-columns-col-gap-6 {
		--ck-column-gap: var(--wp--preset--spacing--60);
	}
	&.ck-columns-col-gap-7 {
		--ck-column-gap: var(--wp--preset--spacing--70);
	}
	&.ck-columns-col-gap-8 {
		--ck-column-gap: var(--wp--preset--spacing--80);
	}

	&.ck-columns-row-gap-0 {
		--ck-column-gap-vert: 0;
	}
	&.ck-columns-row-gap-1 {
		--ck-column-gap-vert: var(--wp--preset--spacing--10);
	}
	&.ck-columns-row-gap-2 {
		--ck-column-gap-vert: var(--wp--preset--spacing--20);
	}
	&.ck-columns-row-gap-3 {
		--ck-column-gap-vert: var(--wp--preset--spacing--30);
	}
	&.ck-columns-row-gap-4 {
		--ck-column-gap-vert: var(--wp--preset--spacing--40);
	}
	&.ck-columns-row-gap-5 {
		--ck-column-gap-vert: var(--wp--preset--spacing--50);
	}
	&.ck-columns-row-gap-6 {
		--ck-column-gap-vert: var(--wp--preset--spacing--60);
	}
	&.ck-columns-row-gap-7 {
		--ck-column-gap-vert: var(--wp--preset--spacing--70);
	}
	&.ck-columns-row-gap-8 {
		--ck-column-gap-vert: var(--wp--preset--spacing--80);
	}

	& .ck-columns__wrap {
		display: flex;
		flex-wrap: wrap;
		gap: var(--ck-column-gap-vert) var(--ck-column-gap);
		& > * {
			flex: 0 1 auto;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

	&.ck-columns-align-stretch {

		& .ck-columns__wrap {

			& > * {
				flex: 1;
			}
		}
	}

	&.ck-columns-align-right {

		& .ck-columns__wrap {
			justify-content: flex-end;
		}
	}

	&.ck-columns-align-center {

		& .ck-columns__wrap {
			justify-content: center;
		}
	}


}
.ck-columns {

	&.is-style-ck-bordered-items {

		& .ck-columns-item {


			&::after {
				content: "";
				display: block;
				height: 0;
				width: 100%;
				padding-top: var(--ck-column-gap-vert);
				border-color: var(--ck-border-color);
				border-style: var(--ck-border-style);
				border-width: 0;
				border-bottom-width: var(--ck-border-width);
			}
		}
	}
}
@media screen and (max-width: 599px) {

	.ck-columns {

		&.limit-mobile-1 {

			& .ck-columns__wrap > * {

				&:nth-child(n+2) {
					display: none;
				}

			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+1) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-mobile-2 {

			& .ck-columns__wrap > * {

				&:nth-child(n+3) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+2) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-mobile-3 {

			& .ck-columns__wrap > * {

				&:nth-child(n+4) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+3) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-mobile-4 {

			& .ck-columns__wrap > * {

				&:nth-child(n+5) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+4) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-mobile-5 {

			& .ck-columns__wrap > * {

				&:nth-child(n+6) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+5) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-mobile-6 {

			& .ck-columns__wrap > * {

				&:nth-child(n+7) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+6) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.has-1-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: 100%;
				margin-right: 0;

			}
		}

		&.has-2-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: calc(( 100% - var(--ck-column-gap) ) / 2);
				margin-right: var(--ck-column-gap);

				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}

		&.has-3-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 2 * var(--ck-column-gap)) / 3);
				margin-right: var(--ck-column-gap);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}

		&.has-4-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 3 * var(--ck-column-gap) ) / 4);
				margin-right: var(--ck-column-gap);

				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
		}

		&.has-5-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 4 * var(--ck-column-gap) ) / 5);
				margin-right: var(--ck-column-gap);

				&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}

		&.has-6-columns-mobile {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 5 * var(--ck-column-gap) ) / 6);
				margin-right: var(--ck-column-gap);

				&:nth-child(6n+6) {
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.ck-columns {

		&.is-style-ck-bordered-items {

			& .ck-columns-item {

				position: relative;
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 0;
					right: calc(-1*var(--ck-column-gap)/2);
					height: 100%;
					width: 0;
					border-width: 0;
					border-right-width: var(--ck-border-width);
				}
				&:last-child::after {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

	.ck-columns {

		&.limit-tablet-1 {

			& .ck-columns__wrap > * {

				&:nth-child(n+2) {
					display: none;
				}

			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+1) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-tablet-2 {

			& .ck-columns__wrap > * {

				&:nth-child(n+3) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+2) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-tablet-3 {

			& .ck-columns__wrap > * {

				&:nth-child(n+4) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+3) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-tablet-4 {

			& .ck-columns__wrap > * {

				&:nth-child(n+5) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+4) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-tablet-5 {

			& .ck-columns__wrap > * {

				&:nth-child(n+6) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+5) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.limit-tablet-6 {

			& .ck-columns__wrap > * {

				&:nth-child(n+7) {
					display: none;
				}
			}
			&.is-style-ck-bordered-items {
				& .ck-columns__wrap > * {
					&:nth-child(n+6) {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		&.has-1-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: 100%;
				margin-right: 0;

				&:nth-last-child(-n+1) {
					margin-bottom: 0;
				}

			}
		}


		&.has-2-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: calc(( 100% - var(--ck-column-gap) ) / 2);

				&:nth-child(2n+2) {
					margin-right: 0;
				}

				&:nth-last-child(-n+2) {
					margin-bottom: 0;
				}
			}
		}

		&.has-3-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 2 * var(--ck-column-gap)) / 3);

				&:nth-child(3n+3) {
					margin-right: 0;
				}

				&:nth-last-child(-n+3) {
					margin-bottom: 0;
				}
			}
		}

		&.has-4-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 3 * var(--ck-column-gap) ) / 4);

				&:nth-child(4n+4) {
					margin-right: 0;
				}

				&:nth-last-child(-n+4) {
					margin-bottom: 0;
				}
			}
		}

		&.has-5-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 4 * var(--ck-column-gap) ) / 5);

				&:nth-child(5n+5) {
					margin-right: 0;
				}

				&:nth-last-child(-n+5) {
					margin-bottom: 0;
				}
			}
		}

		&.has-6-columns-tablet {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 5 * var(--ck-column-gap) ) / 6);

				&:nth-child(6n+6) {
					margin-right: 0;
				}

				&:nth-last-child(-n+6) {
					margin-bottom: 0;
				}
			}
		}

	}
}

@media screen and (min-width: 1024px) {

	.ck-columns {

		&.ck-columns-wrap-false & .ck-columns__wrap > * {
			flex-wrap: nowrap;

		}

		&.has-1-columns {

			& .ck-columns__wrap > * {
				flex-basis: 100%;
				margin-right: 0;

			}
		}

		&.has-2-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc(( 100% - var(--ck-column-gap) ) / 2);

				&:nth-child(2n+2) {
					margin-right: 0;
				}

				&:nth-last-child(-n+2) {
					margin-bottom: 0;
				}
			}
		}

		&.has-3-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 2 * var(--ck-column-gap)) / 3);

				&:nth-child(3n+3) {
					margin-right: 0;
				}

				&:nth-last-child(-n+3) {
					margin-bottom: 0;
				}
			}
		}

		&.has-4-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 3 * var(--ck-column-gap) ) / 4);

				&:nth-child(4n+4) {
					margin-right: 0;
				}

				&:nth-last-child(-n+4) {
					margin-bottom: 0;
				}
			}
		}

		&.has-5-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 4 * var(--ck-column-gap) ) / 5);

				&:nth-child(5n+5) {
					margin-right: 0;
				}

				&:nth-last-child(-n+5) {
					margin-bottom: 0;
				}
			}
		}


		&.has-6-columns {

			& .ck-columns__wrap > * {
				flex-basis: calc((100% - 5 * var(--ck-column-gap) ) / 6);

				&:nth-child(6n+6) {
					margin-right: 0;
				}

				&:nth-last-child(-n+6) {
					margin-bottom: 0;
				}
			}
		}


	}

}
