:root {
	--ck-icon-font-family: "carkeek-blocks";
	--ck-icon-expand: "\e808";
	--ck-icon-collapse: "\e809";

	--color-appender-text: #588157;
	--color-appender-hover: #3a5a40;
	--color-appender-hover-text: #fff;
	--color-appender-bg: rgb(239, 238, 238);
	--color-appender-border: #588157;


	--ck-link-color: var(--color-link);

	--ck-column-gap: 2rem;
	--ck-column-gap-vert: 2rem;
	--ck-archive-image-text-gap: 1rem;
	--ck-archive-image-ratio: 66%;

	--ck-modal-image-ratio: 100%;
	--ck-fixed-image-ratio: 66%;

	--ck-border-color: #ccc;
	--ck-border-width: 1px;
	--ck-border-style: solid;
	--ck-border-bottom-width: 0;
}
