/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-carkeek-blocks-accordion {

	& .ck-accordion-button {
		background-color: var(--ck-color-accordion-header-bg);
		border: var(--ck-accordion-borders);
		padding: var(--ck-accordion-header-padding);
		text-align: left;
		color: var(--ck-color-accordion-header-text);
		width: 100%;
	}

	& .ck-accordion-panel {
		border: 1px solid #ccc;
		padding: 1rem;

		background-color: var(--ck-accordion-panel-bg);
		display: none;
	}


}
.wp-block-carkeek-blocks-accordion-panel {
	margin-bottom: var(--ck-accordion-panel-spacing);
	&.has-child-selected,
	&.is-selected {

		& .ck-accordion-panel {
			display: block;
		}
	}
}

.wp-block-carkeek-blocks-accordion {

	& .block-list-appender {
		position: relative;
	}
}

.block-editor-block-styles__item-preview {

	& .wp-block-carkeek-blocks-accordion.is-style-mini {

		& .ck-accordion-button {
			border: none;
		}
	}

	& .ck-accordion-panel {
		display: none;
	}
}

