.wp-block-carkeek-blocks-fixed-image {
	// Default to landscape
	--ck-fixed-image-ratio: 1.5;

	&.fixed-image-square {
		--ck-fixed-image-ratio: 1;
	}

	&.fixed-image-portrait-43 {
		--ck-fixed-image-ratio: 0.75;
	}

	&.fixed-image-portrait {
		--ck-fixed-image-ratio: 0.66;
	}

	&.fixed-image-landscape-34 {
		--ck-fixed-image-ratio: 1.33;
	}

	&.fixed-image-fit-container {
		--ck-fixed-image-ratio: 1;
	}

	.ck-fixed-image-wrap {
		position: relative;
		display: block;

		img {
			display: block;
			width: 100%;
			height: auto;
			aspect-ratio: var(--ck-fixed-image-ratio);
			object-fit: cover;
			object-position: 50% 50%;
		}

		// &::before {
		// 	content: "";
		// 	width: 100%;
		// 	height: 0;
		// 	padding-top: var(--ck-fixed-image-ratio);
		// 	display: block;
		// }

		// img {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// 	object-position: 50% 50%;
		// }

		.ck-fixed-image-credit {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 200;
			color: #fff;
			font-size: 13px;
			font-weight: 300;
			padding: 5px 10px;
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);

		}
	}
	&.fixed-image-fit-container {
		height: 100%;
		.ck-fixed-image-wrap {
			height: 100%;
			min-height: var(--ck-fixed-image-min-height-mobile, 300px);
			& img {
				aspect-ratio: unset;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

		}
	}

	@media screen and (min-width: 768px) {
		&.fixed-image-fit-container {
			min-height: var(
				--ck-fixed-image-min-height-desktop,
				var(--ck-fixed-image-min-height-mobile, 300px)
			);
		}
	}

	&.is-style-contain {
		.ck-fixed-image-wrap {
			img {
				object-fit: contain;
			}
		}
	}
}
