.wp-block-carkeek-blocks-widget-row {
	&[class*=is-style-border-]{
		--ck-border-width: 1px;
		& .ck-columns__wrap {
			gap: var(--ck-column-gap-vert) 0;
		}
		&.ck-columns-layout-grid {
			& .ck-columns__wrap {
				gap: var(--ck-column-gap-vert) 0;
			}
		}

		& .ck-columns__wrap > * {
			border: 0;
			border-right: var(--ck-border-width) solid;
			padding: calc(var(--ck-column-gap)/2);
			&:last-child {
				border: none;
			}
		}

	}
	&.is-style-border-solid {
		& .ck-columns__wrap > * {
			border-style: solid;
		}
	}
	&.is-style-border-dashed {
		& .ck-columns__wrap > * {
			border-style: dashed;
		}
	}
	&.is-style-border-dotted {
		& .ck-columns__wrap > * {
			border-style: dotted;
		}
	}

}
@media screen and (max-width: 599px) {
	.wp-block-carkeek-blocks-widget-row {
		&.ck-columns.ck-columns-align-stretch .ck-columns__wrap > * {

		}
		&[class*=is-style-border-]{
			&.ck-columns {
					&.has-1-columns-mobile {
						& .ck-columns__wrap  {
							gap: 0;
							& > * {
								border-right: none;
								border-bottom-width: var(--ck-border-width);
								padding-left: 0;
								padding-right: 0;
								&:first-child {
									padding-top:  0;
								}
								&:last-child {
									border-bottom: none;
								}
							}
						}
					}

					&.has-2-columns-mobile {

						& .ck-columns__wrap > * {
							margin-right: 0;
							&:nth-child(2n) {
								border: none;
								padding-right: 0;
							}
							&:nth-child(2n + 1) {
								padding-left: 0;
							}
						}
					}

					&.has-3-columns-mobile {

						& .ck-columns__wrap > * {
							margin-right: 0;
							&:nth-child(3n) {
								border: none;
								padding-right: 0;
							}
							&:nth-child(3n + 1) {
								padding-left: 0;
							}
						}
					}

					&.has-4-columns-mobile {

						& .ck-columns__wrap > * {
							margin-right: 0;
							&:nth-child(4n) {
								border: none;
								padding-right: 0;
							}
							&:nth-child(4n + 1) {
								padding-left: 0;
							}
						}
					}

					&.has-5-columns-mobile {
						& .ck-columns__wrap > * {
							margin-right: 0;
							&:nth-child(5n) {
								border: none;
								padding-right: 0;
							}
							&:nth-child(5n + 1) {
								padding-left: 0;
							}
						}
					}

					&.has-6-columns-mobile {

						& .ck-columns__wrap > * {
							margin-right: 0;
							&:nth-child(6n) {
								border: none;
								padding-right: 0;
							}
							&:nth-child(6n + 1) {
								padding-left: 0;
							}
						}
					}
				}
			}
		}
}

@media screen and (min-width: 600px) and (max-width: 1023px) {

	.wp-block-carkeek-blocks-widget-row {
		&[class*=is-style-border-]{
			&.ck-columns {

				&.has-1-columns-tablet {
					& .ck-columns__wrap  {
						gap: 0;
						& > * {
							border-right: none;
							border-bottom: var(--ck-border-width) solid;
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}


				&.has-2-columns-tablet {

					& .ck-columns__wrap > * {

						&:nth-child(2n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(2n + 1) {
							padding-left: 0;
						}

					}
				}

				&.has-3-columns-tablet {

					& .ck-columns__wrap > * {

						&:nth-child(3n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(3n + 1) {
							padding-left: 0;
						}

					}
				}

				&.has-4-columns-tablet {

					& .ck-columns__wrap > * {

						&:nth-child(4n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(4n + 1) {
							padding-left: 0;
						}
					}
				}

				&.has-5-columns-tablet {

					& .ck-columns__wrap > * {

						&:nth-child(5n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(5n + 1) {
							padding-left: 0;
						}

					}
				}

				&.has-6-columns-tablet {

					& .ck-columns__wrap > * {

						&:nth-child(6n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(6n + 1) {
							padding-left: 0;
						}

					}
				}

			}
		}
	}
}

@media screen and (min-width: 1024px) {

	.wp-block-carkeek-blocks-widget-row {
		&[class*=is-style-border-]{
			&.ck-columns {
				& .ck-columns__wrap > * {
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}

				&.has-1-columns {
					& .ck-columns__wrap  {
						gap: 0;
						& > * {
							border-right: none;
							border-bottom: var(--ck-border-width) solid;
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}


				&.has-2-columns {

					& .ck-columns__wrap > * {
						&:nth-child(2n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(2n + 1) {
							padding-left: 0;
						}
					}
				}

				&.has-3-columns {

					& .ck-columns__wrap > * {
						&:nth-child(3n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(3n + 1) {
							padding-left: 0;
						}
					}
				}

				&.has-4-columns {

					& .ck-columns__wrap > * {

						&:nth-child(4n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(4n + 1) {
							padding-left: 0;
						}
					}
				}

				&.has-5-columns {

					& .ck-columns__wrap > * {
						&:nth-child(5n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(5n + 1) {
							padding-left: 0;
						}
					}
				}


				&.has-6-columns {

					& .ck-columns__wrap > * {
						&:nth-child(5n) {
							border: none;
							padding-right: 0;
						}
						&:nth-child(5n + 1) {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}
