@import "./slick.css";
@import "./slick-theme.css";

.slick-slide {
	color: #fff;

	& .wp-block-media-text {

		& img {
			width: 100%;
			height: 66vw;
			min-height: 400px;
			max-height: 870px;
			object-fit: cover;
		}

		& .wp-block-media-text__content {
			padding-left: 4rem;
			padding-right: 4em;
		}
	}
}

.slick-initialized .slick-track {
	display: flex;

	& .slick-slide {
		flex: 1 1 0;
		display: flex;
		height: auto;
		align-items: center;
		justify-content: center;

		& > div,
		& .slide-single {
			height: 100%;

			& > [class^="wp-block"] {
				height: 100%;
			}
		}
	}
}


.wp-block-carkeek-blocks-carkeek-slider {
	width: 100%;

	& .slick-list,
	& .slick-track {
		height: 100%;
	}

	& .slick-slide {
		max-width: 100vw;
	}

	& .slick-slide > div {
		width: 100%;
	}

	& .slide-single {

		& > * {
			max-width: 100vw;
		}

		& .wp-block-quote {
			display: flex;
			justify-content: center;
			flex-direction: column;

		}
	}

	& figcaption {
		color: var(--global-font-color);
	}

	&.arrows-desktop-only {

		& .slick-arrow {
			display: none;
		}
	}

	&.slider-carousel {
		--slick-arrow-color: #b0b0b0;
		--slick-opacity-default: 0.8;

		& .slide-carousel {
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding: 0 1rem;

			& .wp-block-image img {
				margin-left: auto;
				margin-right: auto;
			}
		}

		& .slick-prev {
			left: -40px;
		}

		& .slick-next {
			right: -40px;
		}
	}

}

@media screen and (min-width: 1024px) {

	.wp-block-carkeek-blocks-carkeek-slider {

		& .slide-single {

			& > * {
				max-width: 100vw;
			}

		}
	}
}
