.editor-styles-wrapper {

	& .wp-block-cover:not(.is-cover-quote) {
		height: auto;
		max-height: none;
	}

	& .wp-block-carkeek-blocks-carkeek-slider.slider-single {

		& > .block-editor-inner-blocks > .block-editor-block-list__layout {

			& > *:not(:first-child) {
				display: none;
			}
		}

		&.is-selected,
		&.has-child-selected {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout {

				& > *:not(.block-list-appender) {
					border: 1px solid #ccc !important;
					padding: 10px;
				}

				& > *:not(:first-child) {
					display: block;
				}
			}
		}
	}

	& .wp-block-carkeek-blocks-carkeek-slider.slider-carousel {

		& > .block-editor-inner-blocks > .block-editor-block-list__layout {

			display: flex;
			flex-wrap: wrap;

			& > * {
				flex: 0 1 0;
			}
		}

		&.show-slides-2 {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
				flex: 0 1 50%;
			}
		}

		&.show-slides-3 {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
				flex: 0 1 33%;
			}
		}

		&.show-slides-4 {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
				flex: 0 1 25%;
			}
		}

		&.show-slides-5 {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
				flex: 0 1 20%;
			}
		}

		&.show-slides-6 {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
				flex: 0 1 16%;
			}
		}

		&.is-selected,
		&.has-child-selected {

			& > .block-editor-inner-blocks > .block-editor-block-list__layout {

				& > *:not(:first-child) {
					display: block;
				}
			}
		}
	}
}

