.wp-block-carkeek-blocks-site-credits {
	.gpopover {
		font-size: 0.875rem;
		color: var(--wp--preset--color--contrast, #000);
		& a {
			color: var(--wp--preset--color--secondary, #3344dd);
				&:hover {
					color: var(--wp--preset--color--secondary, #3344dd);
					text-decoration: underline;
				}
		}
	}
}

.ck-button-link {
	padding: 0;
	background: none;
	border: none;
	color: inherit;
	text-transform: none;
	cursor: pointer;
	font-weight: inherit;
	font-family: var(--wp--preset--font-family--global, inherit);
	&:hover {
		background: none;
		border: none;
		color: inherit;
		text-decoration: underline;
	}
}
