
.wp-block-carkeek-blocks-page-link {
	display: flex;
	margin-bottom: 45px;
	align-items: center;

	& .ck-page-link-icon-link {
		margin-right: 5px;
	}

	& .ck-page-link {
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
	}

	& .ck-page-link-description {
		display: none;
	}
}


@media screen and (min-width: 768px) {

	.wp-blocks-carkeek-page-links__inner-blocks {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1rem;
		margin-right: -1rem;

	}

	.wp-block-carkeek-blocks-page-link {
		flex-direction: column;
		flex: 1 1 50%;
		max-width: 50%;
		padding: 0 1rem;
		align-items: flex-start;


		& .ck-page-link-icon-link {
			margin-right: 0;
			margin-bottom: 1rem;
		}

		& .ck-page-link {
			font-size: 24px;
			margin-bottom: 1rem;
		}

		& .ck-page-link--description {
			display: block;
			line-height: 30px;
		}
	}
}

@media screen and (min-width: 1024px) {

	.wp-block-carkeek-blocks-page-link {
		flex: 1 1 33.3333%;
		max-width: 33.33333%;
	}
}
