
@import "./style.css";

.editor-styles-wrapper {

	& .empty-block {
		border: 1px solid #ccc;
		background-color: #ebebeb;
		padding: 10px;
		font-size: 12px;
		display: grid;
		grid-template-columns: 60px 1fr;
		column-gap: 10px;

		& svg {
			width: 100%;
			height: auto;
		}
	}

	& .empty-block__icon {
		align-self: start;
	}

	& .empty-block__title {
		font-weight: 600;
		margin-top: 8px;
	}

	& .empty-block__content {

		& p {
			margin-bottom: 0;
		}
	}

}
