@import "./style.css";

.editor-styles-wrapper {

	& .server-side-render {


		position: relative;

		& .notes {
			font-size: 10px;
		}
	}

	& h3,
	& h4,
	& h5,
	& h6 {

		&.cll-headline-edit {
			font-size: 18px;
			color: #333;
		}
	}

	& .server-side-render__overlay {
		position: absolute;
		background-color: #ececec;
		opacity: 20%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	& .wp-block-carkeek-custom-link-list {

		border: 1px solid #ccc;
		padding: 1rem;

		& .cll-headline {
			display: none;
		}

		&.carkeek-blocks-accordion .cll-label {

			&::before {
				content: "\002B";
				padding-right: 5px;
			}
		}


	}
}
